azure-core==1.30.0
azure-identity==1.15.0
langchain==0.1.9
langchain==0.0.24
langchain-core==0.1.27
langchain-openai==0.0.8
openai==1.12.0
openapi-core==0.18.2
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
pandas==2.1.3
promptflow==1.5.0
promptflow-tools==1.2.0
tiktoken==0.6.0